In [1]:
# This file is used to remove all the extreme and unusual events

import numpy as np
import pandas as pd

file_path = './data/train/full-fixed_2.parquet'
data = pd.read_parquet(file_path)

df = pd.DataFrame()

columns_to_check = [f'DomId_{i}' for i in range(21)]
# remove columns in which have any intensities in one Dom greater than or equal to 2000
filtered_data = data[~data[columns_to_check].ge(2000).any(axis=1)]

columns_to_check = [f'NDomId_{i}' for i in range(21)]
# remove columns in which have any counts in one Dom greater than or equal to 5000
filtered_data = filtered_data[~filtered_data[columns_to_check].ge(5000).any(axis=1)]

# ang_data.replace(np.nan, -10000, inplace=True)

# filtered_data[columns_to_check] = filtered_data[columns_to_check].replace(-10000, 0)
# filtered_data[columns_to_check] = filtered_data[columns_to_check].fillna(0)

# This file will be processed into train_3.parquet and test_3.parquet
filtered_data.to_parquet('./data/train/full-fixed_3.parquet')

In [2]:
filtered_data

,eventID,Type,DomId_0,DomId_1,DomId_2,DomId_3,DomId_4,DomId_5,DomId_6,DomId_7,...,NDomId_13,NDomId_14,NDomId_15,NDomId_16,NDomId_17,NDomId_18,NDomId_19,NDomId_20,zenith_angle_out,azimuthal_angle_out
1,17.0,0.0,NaN,273.736958,189.476816,NaN,NaN,NaN,756.032444,NaN,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.345727,-0.080566
2,24.0,0.0,NaN,860.216486,102.287131,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,2.461391,-1.818402
3,25.0,1.0,88.078789,336.860039,NaN,NaN,NaN,882.134422,0.000000,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.461549,-1.825120
4,31.0,0.0,1889.557451,776.870111,NaN,NaN,NaN,NaN,1427.958297,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,2.773840,0.195377
5,34.0,0.0,NaN,504.001509,NaN,NaN,0.000000,NaN,125.876515,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.725839,2.736024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24870,123235584.0,1.0,0.000000,44.125000,NaN,NaN,625.373437,NaN,NaN,NaN,...,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,2.265284,0.864746
24872,123235600.0,1.0,0.000000,48.687500,167.125000,NaN,NaN,NaN,NaN,169.813545,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.267406,0.864506
24873,123235608.0,1.0,0.000000,39.687500,155.437500,NaN,472.812500,NaN,NaN,131.764553,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.268714,0.864346
24874,123235743.0,0.0,NaN,0.000000,NaN,NaN,NaN,147.134478,NaN,NaN,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.240942,2.229749
24875,123235782.0,0.0,NaN,NaN,NaN,104.948969,545.914017,NaN,NaN,632.756936,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,2.218710,1.115072